.pe-none {
  pointer-events: none;
}

.pe-auto {
  pointer-events: auto;
}

/*<div class="pe-none">No mouse interaction</div>
<div class="pe-auto">Default behavior</div>*/
.us-none {
  user-select: none;
}

.us-text {
  user-select: text;
}

.us-all {
  user-select: all;
}

.us-auto {
  user-select: auto;
}

/*<p class="us-none">Can't select this</p>*/
.cursor-auto {
  cursor: auto;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
