/* Hybrid Reset - Reset & Normalise all elements while keeping useful defaults
    & fixing cross-browser bugs & adding accessibility improvements */

/* Global Box Model - Ensures consistent sizing across elements */
*, *::before, *::after { 
    box-sizing: border-box; 
} 

body {
  padding: 24px;
  padding-right: 28px;
  overflow-wrap: anywhere;
}

/* Margin Reset - Removes margins given by different browsers' rendering engines */ 
body, h1, h2, h3, h4, h5, h6, 
p, figure, blockquote, dl, dd { 
    margin: 0; 
    padding: 0; 
    border: 0;
} 

/* Reset List Defaults - Marker + marker spacing different on every browser, lists
    may look misaligned on some browsers if we don't reset */
ul, ol { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
} 

/* Responsive Media Elements Reset - Prevents images from becoming larger than
    parent container, turns media into block elements */
img, picture, video, svg { 
    max-width: 100%; 
    display: block;
    height: auto; 
} 

/* Anchor Reset - Hover/Visited/Unvisited colours differ between browsers, 
    text-decoration removes underlining from safari */
a { 
    text-decoration: none; 
    color: inherit; 
    text-decoration-skip-ink: auto;
} 

/* Form Element Reset - Each browser has differing border, padding, font & rendering 
    for form elements - consistency assured */
button, input, select, textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    -webkit-appearance: none;
    border-radius: 0;
    touch-action: manipulation;
}

/* Safari & Firefox do not provide cursor pointers to buttons - fix inconsistency */
button {
    cursor: pointer;
}

/* Ensure resizing of textareas does not break layout */
textarea {
    resize: vertical;
}

/* Normalised Typography - Set base font/font size, line height & stops mobile 
    browsers from zooming into text randomly + Mobile Browser Fixes - Overrides 
    for iOS/Safari + Android/Chrome behaviour - removes risk of auto-zooming text
    & delayed clicks. Consistency */
html {
    font-size: 16px; 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
    
body {
    font-family: var(--uofg-font-sans, sans-serif); 
    color: var(--uofg-text, #000); 
    background: var(--uofg-bg, #fff); 
    text-rendering: optimizelegibility; /* potential change to auto? */
}

/* Focus Reset - Accessibility feature - When navigating page using tab border of 
    hovering button remains consistent across browsers */
:focus-visible {
    outline: 4px solid var(--uofg-focus, #FD0);
    outline-offset: 4px;
}

/* Reduced Motion - For users who struggle with motion sickness/nausea - WCAG 
    requirement - all animations/transitions reduced to 0 seconds */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}