@use '../foundational-tokens/alignment-sheet.scss' as *;

@each $name, $value in $vertical-align {
  .align-#{$name} {
    vertical-align: $value;
  }
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

@each $name, $value in $content-align {
  .justify-#{$name} {
    justify-content: $value;
  }

  .items-#{$name} {
    align-items: $value;
  }
}

