$primary-font: "Swiss721 BT", sans-serif;
$secondary-font: "Garamond", serif;

.primary {
  font-family: $primary-font;

  &.light {
    font-weight: 100;
  }

  &.roman {
    font-weight: normal;
  }

  &.medium {
    font-weight: 500;
  }

  &.bold {
    font-weight: bold;
  }

  &.base {
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0;
  }

  &.minus-one {
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0;
  }

  &.minus-two {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0;
  }

  &.plus-one {
    font-size: 1.1875rem;
    line-height: 1.5rem;
    letter-spacing: 0;
  }

  &.plus-two {
    font-size: 1.3125rem;
    line-height: 1.625rem;
    letter-spacing: 0;
  }

  &.plus-three {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
  }

  &.plus-four {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0;
  }

  &.plus-five {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0;
  }

  &.plus-six {
    font-size: 3rem;
    line-height: 3.375rem;
    letter-spacing: -0.7px;
  }

  &.plus-seven {
    font-size: 3.375rem;
    line-height: 4rem;
    letter-spacing: -0.8px;
  }

  &.plus-eight {
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.9px;
  }

  &.plus-nine {
    font-size: 6rem;
    line-height: 6.125rem;
    letter-spacing: -1.4px;
  }
}

.secondary {
  font-family: $secondary-font;

  &.regular {
    font-weight: normal;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.bold {
    font-weight: bold;
  }
}
