@use "../foundational-tokens/space-sheet.scss" as *;
@use '../foundational-tokens/layout-sheet.scss' as *;

/* Display */
@each $name, $value in $displays {
  .d-#{$name} { display: $value; }
}

/* Visibility helpers */
.hidden { display: none !important; }

/* Position */
@each $pos in $positions {
  .position-#{$pos} { position: $pos; }
}


@each $k, $v in $space-scale {
  .top-#{$k}    { top: $v; }
  .right-#{$k}  { right: $v; }
  .bottom-#{$k} { bottom: $v; }
  .left-#{$k}   { left: $v; }

/* Logical offsets (recommended for RTL safety) */
  .start-#{$k}  { inset-inline-start: $v; }
  .end-#{$k}    { inset-inline-end: $v; }
}

/* Float */
@each $name, $value in $floats {
  .float-#{$name} { float: $value; }
}

@each $k, $v in $z {
  .z-#{$k} { z-index: $v; }
}