.u-flex {
  display: flex;
}

.u-inline-flex {
  display: inline-flex;
}

/* Flex direction */
.u-flex-row {
  flex-direction: row;
}

.u-flex-row-reverse {
  flex-direction: row-reverse;
}

.u-flex-column {
  flex-direction: column;
}

.u-flex-column-reverse {
  flex-direction: column-reverse;
}

/* Justify content */
.u-justify-start {
  justify-content: flex-start;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-around {
  justify-content: space-around;
}

.u-justify-evenly {
  justify-content: space-evenly;
}

/* Align items */
.u-items-start {
  align-items: flex-start;
}

.u-items-end {
  align-items: flex-end;
}

.u-items-center {
  align-items: center;
}

.u-items-baseline {
  align-items: baseline;
}

.u-items-stretch {
  align-items: stretch;
}

/* Align self */
.u-self-auto {
  align-self: auto;
}

.u-self-start {
  align-self: flex-start;
}

.u-self-end {
  align-self: flex-end;
}

.u-self-center {
  align-self: center;
}

.u-self-baseline {
  align-self: baseline;
}

.u-self-stretch {
  align-self: stretch;
}

/* Wrap */
.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Grow / shrink */
.u-grow-0 {
  flex-grow: 0;
}

.u-shrink-0 {
  flex-shrink: 0;
}

.u-grow-1 {
  flex-grow: 1;
}

.u-shrink-1 {
  flex-shrink: 1;
}

.u-grow-2 {
  flex-grow: 2;
}

.u-shrink-2 {
  flex-shrink: 2;
}

.u-grow-3 {
  flex-grow: 3;
}

.u-shrink-3 {
  flex-shrink: 3;
}

.u-grow-4 {
  flex-grow: 4;
}

.u-shrink-4 {
  flex-shrink: 4;
}

.u-grow-5 {
  flex-grow: 5;
}

.u-shrink-5 {
  flex-shrink: 5;
}
