body {
    background:
        linear-gradient(
            180deg,
            var(--blue) 0%,
            var(--lgrey1) 120px
        );
        font-family: Arial, sans-serif; 
        padding: 20px; 
        line-height: 1.5;
}

.section {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 48px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.box {
    background-color: var(--lgrey1);
    border-radius: 10px;
}