.tiles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--space5);
    align-items: start;
}

.tiles-container .tile {
    margin-top: var(--space4);
    display: flex;
    background-color: var(--lgrey1);
    padding: var(--space5);
    flex-direction: column;
    gap: var(--space4);
    border-top: 1px solid var(--rust);
    border-bottom: 1px solid var(--rust);
}

.tiles-container .tile_img {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
    border-radius: var(--space2);
    overflow: hidden;
}

.tiles-container .tile_text {
    text-align: left;
}
