/* CSS Variables for testing */
:root {
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 0.75rem;
  --space4: 1rem;
  --space5: 1.25rem;
  --space6: 1.5rem;
  --space7: 2em;
  --space8: 2.5rem;
  --space9: 3rem;
  --space10: 3.5rem;
  --space11: 4rem;
  --space12: 6rem;
}

/* CSS Varables for testing */
:root {
  --bp-xs: 0;
  --bp-sm: 768px;
  --bp-md: 1024px;
  --bp-lg: 1400px;
  --bp-xl: 1900px;
  /* Grid system */
  --grid-columns: 12;
  --grid-gutter: 1.5rem;
  --grid-margin: 1.5rem;
}

/* Media query helpers
   This makes breakpoint testable */
@media (min-width: 768px) {
  .bp-test {
    color: red;
  }
}
@media (min-width: 1024px) {
  .bp-test-md {
    color: blue;
  }
}
@media (min-width: 1400px) {
  .bp-test-lg {
    color: green;
  }
}
.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@media (min-width: 0) {
  .text-extra-small-start {
    text-align: start;
  }
  .text-extra-small-end {
    text-align: end;
  }
  .text-extra-small-center {
    text-align: center;
  }
  .text-extra-small-justify {
    text-align: justify;
  }
}
@media (min-width: 768px) {
  .text-small-start {
    text-align: start;
  }
  .text-small-end {
    text-align: end;
  }
  .text-small-center {
    text-align: center;
  }
  .text-small-justify {
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  .text-medium-start {
    text-align: start;
  }
  .text-medium-end {
    text-align: end;
  }
  .text-medium-center {
    text-align: center;
  }
  .text-medium-justify {
    text-align: justify;
  }
}
@media (min-width: 1400px) {
  .text-large-start {
    text-align: start;
  }
  .text-large-end {
    text-align: end;
  }
  .text-large-center {
    text-align: center;
  }
  .text-large-justify {
    text-align: justify;
  }
}
@media (min-width: 1900px) {
  .text-extra-large-start {
    text-align: start;
  }
  .text-extra-large-end {
    text-align: end;
  }
  .text-extra-large-center {
    text-align: center;
  }
  .text-extra-large-justify {
    text-align: justify;
  }
}
.text-wrap {
  white-space: normal;
}

.text-nowrap {
  white-space: nowrap;
}

.text-break {
  overflow-wrap: break-word;
  word-break: break-word;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.text-decoration-dashed {
  text-decoration-style: dashed;
}

.text-decoration-dotted {
  text-decoration-style: dotted;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.fs-1 {
  font-size: 2.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 1.75rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1rem;
}

@media (min-width: 0) {
  .fs-extra-small-1 {
    font-size: 2.5rem;
  }
  .fs-extra-small-2 {
    font-size: 2rem;
  }
  .fs-extra-small-3 {
    font-size: 1.75rem;
  }
  .fs-extra-small-4 {
    font-size: 1.5rem;
  }
  .fs-extra-small-5 {
    font-size: 1.25rem;
  }
  .fs-extra-small-6 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .fs-small-1 {
    font-size: 2.5rem;
  }
  .fs-small-2 {
    font-size: 2rem;
  }
  .fs-small-3 {
    font-size: 1.75rem;
  }
  .fs-small-4 {
    font-size: 1.5rem;
  }
  .fs-small-5 {
    font-size: 1.25rem;
  }
  .fs-small-6 {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .fs-medium-1 {
    font-size: 2.5rem;
  }
  .fs-medium-2 {
    font-size: 2rem;
  }
  .fs-medium-3 {
    font-size: 1.75rem;
  }
  .fs-medium-4 {
    font-size: 1.5rem;
  }
  .fs-medium-5 {
    font-size: 1.25rem;
  }
  .fs-medium-6 {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  .fs-large-1 {
    font-size: 2.5rem;
  }
  .fs-large-2 {
    font-size: 2rem;
  }
  .fs-large-3 {
    font-size: 1.75rem;
  }
  .fs-large-4 {
    font-size: 1.5rem;
  }
  .fs-large-5 {
    font-size: 1.25rem;
  }
  .fs-large-6 {
    font-size: 1rem;
  }
}
@media (min-width: 1900px) {
  .fs-extra-large-1 {
    font-size: 2.5rem;
  }
  .fs-extra-large-2 {
    font-size: 2rem;
  }
  .fs-extra-large-3 {
    font-size: 1.75rem;
  }
  .fs-extra-large-4 {
    font-size: 1.5rem;
  }
  .fs-extra-large-5 {
    font-size: 1.25rem;
  }
  .fs-extra-large-6 {
    font-size: 1rem;
  }
}
.text-lighter {
  font-weight: lighter;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.lh-1 {
  line-height: 1;
}

.lh-sm {
  line-height: 1.25;
}

.lh-base {
  line-height: 1.5;
}

.lh-lg {
  line-height: 1.75;
}

.lh-xl {
  line-height: 2;
}

@media (min-width: 0) {
  .lh-extra-small-1 {
    line-height: 1;
  }
  .lh-extra-small-sm {
    line-height: 1.25;
  }
  .lh-extra-small-base {
    line-height: 1.5;
  }
  .lh-extra-small-lg {
    line-height: 1.75;
  }
  .lh-extra-small-xl {
    line-height: 2;
  }
}
@media (min-width: 768px) {
  .lh-small-1 {
    line-height: 1;
  }
  .lh-small-sm {
    line-height: 1.25;
  }
  .lh-small-base {
    line-height: 1.5;
  }
  .lh-small-lg {
    line-height: 1.75;
  }
  .lh-small-xl {
    line-height: 2;
  }
}
@media (min-width: 1024px) {
  .lh-medium-1 {
    line-height: 1;
  }
  .lh-medium-sm {
    line-height: 1.25;
  }
  .lh-medium-base {
    line-height: 1.5;
  }
  .lh-medium-lg {
    line-height: 1.75;
  }
  .lh-medium-xl {
    line-height: 2;
  }
}
@media (min-width: 1400px) {
  .lh-large-1 {
    line-height: 1;
  }
  .lh-large-sm {
    line-height: 1.25;
  }
  .lh-large-base {
    line-height: 1.5;
  }
  .lh-large-lg {
    line-height: 1.75;
  }
  .lh-large-xl {
    line-height: 2;
  }
}
@media (min-width: 1900px) {
  .lh-extra-large-1 {
    line-height: 1;
  }
  .lh-extra-large-sm {
    line-height: 1.25;
  }
  .lh-extra-large-base {
    line-height: 1.5;
  }
  .lh-extra-large-lg {
    line-height: 1.75;
  }
  .lh-extra-large-xl {
    line-height: 2;
  }
}
.tracking-tight {
  letter-spacing: -0.02em;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.tracking-wider {
  letter-spacing: 0.1em;
}

.tracking-widest {
  letter-spacing: 0.2em;
}

@media (min-width: 0) {
  .tracking-extra-small-tight {
    letter-spacing: -0.02em;
  }
  .tracking-extra-small-normal {
    letter-spacing: 0;
  }
  .tracking-extra-small-wide {
    letter-spacing: 0.05em;
  }
  .tracking-extra-small-wider {
    letter-spacing: 0.1em;
  }
  .tracking-extra-small-widest {
    letter-spacing: 0.2em;
  }
}
@media (min-width: 768px) {
  .tracking-small-tight {
    letter-spacing: -0.02em;
  }
  .tracking-small-normal {
    letter-spacing: 0;
  }
  .tracking-small-wide {
    letter-spacing: 0.05em;
  }
  .tracking-small-wider {
    letter-spacing: 0.1em;
  }
  .tracking-small-widest {
    letter-spacing: 0.2em;
  }
}
@media (min-width: 1024px) {
  .tracking-medium-tight {
    letter-spacing: -0.02em;
  }
  .tracking-medium-normal {
    letter-spacing: 0;
  }
  .tracking-medium-wide {
    letter-spacing: 0.05em;
  }
  .tracking-medium-wider {
    letter-spacing: 0.1em;
  }
  .tracking-medium-widest {
    letter-spacing: 0.2em;
  }
}
@media (min-width: 1400px) {
  .tracking-large-tight {
    letter-spacing: -0.02em;
  }
  .tracking-large-normal {
    letter-spacing: 0;
  }
  .tracking-large-wide {
    letter-spacing: 0.05em;
  }
  .tracking-large-wider {
    letter-spacing: 0.1em;
  }
  .tracking-large-widest {
    letter-spacing: 0.2em;
  }
}
@media (min-width: 1900px) {
  .tracking-extra-large-tight {
    letter-spacing: -0.02em;
  }
  .tracking-extra-large-normal {
    letter-spacing: 0;
  }
  .tracking-extra-large-wide {
    letter-spacing: 0.05em;
  }
  .tracking-extra-large-wider {
    letter-spacing: 0.1em;
  }
  .tracking-extra-large-widest {
    letter-spacing: 0.2em;
  }
}
.text-truncate-ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
