.billboard {
  display: grid;
  row-gap: var(--space6);
  align-items: start;
  grid-template-columns: 1fr;
  padding-block: var(--space8);
  padding-inline: var(--space8);
  background-color: var(--lgrey1);

  &__media,
  &__content,
  &__aside {
    min-width: 0;
  }

  &__media {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space2);
    max-width: 60ch;
    width: 100%;
  }

  &__kicker,
  &__title,
  &__summary {
    margin: 0;
  }

  &__kicker {
    font-size: 1rem;
    font-weight: 400;
    color: var(--mgrey3);
  }

  &__title {
    font-size: clamp(1.8rem, 2.8vw, 2.4rem);
    line-height: 1.15;
    font-weight: 700;
    color: var(--dgrey3);
  }

  &__summary {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--dgrey2);
  }

  &__link {
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: var(--space1);
    color: var(--uni-blue);
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space2) var(--space4);
    border: 1px solid currentColor;
    text-decoration: none;
    font-weight: 600;
    background-color: inherit;
    border-radius: .25rem;
  }

  &--image {
    .billboard__content {
      position: relative;
      justify-self: start;
      padding-top: var(--space3);

      &::before {
        content: "";
        display: block;
        width: 100%;
        border-top: 1px solid var(--lgrey2);
        margin-bottom: var(--space3);
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      column-gap: var(--space14);
      align-items: start;
      grid-template-areas: "media content";

      .billboard__media {
        grid-area: media;
      }

      .billboard__content {
        grid-area: content;
      }

      &.billboard--reverse {
        grid-template-areas: "content media";
      }
    }
  }

  &--text {
    gap: var(--space);

    @media (min-width: 768px) {
      grid-template-columns: 2fr 1fr;
      align-items: start;
    }
  }

  &--light {
    background: var(--uni-blue10);
    color: var(--dgrey3);

    .billboard__kicker {
      color: var(--mgrey3);
    }

    .billboard__link {
      color: var(--uni-blue);
    }

    .billboard__title {
      color: var(--uni-blue);
    }

    .billboard__button {
      color: var(--uni-blue);
      border-color: var(--mgrey2);
    }

    .billboard__summary,
    .billboard__link,
    .billboard__content {
      color: var(--uni-blue);
    }
  }

  &--dark {
    background: var(--uni-blue);
    color: var(--lgrey1);

    .billboard__summary,
    .billboard__link,
    .billboard__kicker {
      color: var(--uni-blue10);
    }

    .billboard__button {
      color: var(--uni-blue10);
      border-color: var(--uni-blue10);
    }

    .billboard__title {
      color: var(--uni-blue10);
    }
  }
}
