.dropdown {
  display: inline-block;
  width: auto;

  & + & {
    margin-top: var(--space-4);
  }

  &__label {
    display: block;
    margin-bottom: var(--space-1);
  }

  &__hint {
    display: block;
    margin-bottom: var(--space-2);
    color: var(--mgrey3);
  }

  &__error {
    display: none;
    margin-bottom: var(--space-2);
    color: var(--error);
  }

  &__control {
    position: relative;
  }

  &__select {
    appearance: none;
    display: block;
    width: auto;
    min-width: max-content;

    padding: var(--space-2) var(--space-5) var(--space-2) var(--space-2);

    color: var(--dgrey3);
    background-color: var(--lgrey1);
    border: 1px solid var(--lgrey3);
    border-radius: 0.5rem;

    &:hover {
      border-color: var(--mgrey1);
      background-color: var(--lgrey2);
    }

    &:focus {
      outline: 2px solid var(--highlight);
      outline-offset: 2px;
    }

    &:active {
      border-color: var(--highlight);
      background-color: var(--lgrey2);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--mgrey2);
      background-color: var(--lgrey2);
      border-color: var(--lgrey3);
    }
  }

  &__control::after {
    content: "";
    position: absolute;
    pointer-events: none;

    right: var(--space-2);
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--mgrey3);
  }

  &--error {
    .dropdown__error {
      display: block;
    }

    .dropdown__select {
      border-color: var(--error);
    }

    .dropdown__control::after {
      border-top-color: var(--error);
    }
  }

  &--disabled {
    .dropdown__control::after {
      border-top-color: var(--mgrey2);
    }
  }
}
