/* the "radio group", styling just for layout */
.radio {
  flex-direction: column;
  gap: var(--space3);
  display: inline-grid; /* a shrinkwrap container used to align option widths */
  grid-template-columns: max-content;
  justify-items: stretch;

  &.radio-error-visible {
    .radio-error {
      display: block;
    }
  }
}

/* the whole interactive unit for radio */
.radio-option {
  gap: var(--space2);
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: var(--lgrey1);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;

  input[type="radio"] {
    /* hide the native radio so we can use custom style */
    position: absolute;
    opacity: 0;
    appearance: none;

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    margin: 0;
    width: 0;
    height: 0;

    &:checked + .radio-control::after {
      /* used to show the inner dot of the radio button when checked */
      transform: scale(1);
    }

    &:focus-visible + .radio-control {
      border-color: var(--highlight);
    }
  }

  /* this is for disabled buttons */
  &:has(input:disabled) {
    color: var(--lgrey3);
    cursor: not-allowed;
    
    .radio-control {
      border-color: var(--lgrey3);

      &::after {
        background-color: var(--lgrey2);
      }
    }

    input:focus-visible + .radio-control {
      box-shadow: none;
    }
  }
}

/* the radio ring itself */
.radio-control {
  width: var(--space4);
  height: var(--space4);
  border: 2px solid var(--dgrey3);
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.15s, box-shadow 0.15s;

  /* inner dot is hidden until it is checked */
  &::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--uni-blue);
    transform: scale(0);
    transition: transform 0.15s ease, background-color 0.15s ease;
  }
}

/* the text at the top of radios */
.radio-label {
  line-height: 1;
}

.radio-title {
  font-weight: 600;
  margin-bottom: -1.5rem;
  margin-top: var(--space2);
  color: var(--dgrey3);
}

.radio-hint {
  font-size: var(--space3);
  color: var(--dgrey1);
  margin-bottom: var(--space2);
}

.radio-error {
  font-size: var(--space3);
  color: var(--error);
  margin-bottom: var(--space2);
  margin-top: -0.5rem;
  display: none;
  font-weight: 600;
}
